<%- include("partials/header"); -%>

   <div class="well well-md" style="margin-top: 50px;">
       <h3>Contact Details:</h3>
       <p>onyinyechi830@gmail.com</p>
       <a href="https://github.com/onyila21">https://github.com/onyila21</a>
      <p><a href="https://linkedin.com/onyinyechi830@gmail.com">https://linkedin.com/onyinyechi830@gmail.com</a></p>
    </div>
<%- include("partials/footer"); -%>
